@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
<h3>Sugestoes:</h3>

<div id="prateleira">
    <ul>
        @foreach (modal.Beer beer in ViewBag.BeerList)
        {

            <li>
                <a href="/Cerveja/@beer.Id">
                    @beer.Name <br />
                    @beer.Vol ml <br />
                    R$ @beer.Price      <br />
                    <img src="/Images/Beers/@beer.Image" width="150" height="200" /> <br />
                </a>
            </li>

        }


    </ul>
</div>